<div class="container__big_card">
  <div class="big_card__picture">
    <img 
      src="https://picsum.photos/200/300" 
      alt="big card picture"
      class="big_card__picture__img"
    >
  </div>
  <a href="#">
    <div class="big_card__title">
      <h2 class="big_card__title__text">Lorem Ipsum</h2>
    </div>
    <div class="big_card__description">
      <p class="big_card__description__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus ligula ex, tempor sed velit et, dapibus hendrerit nulla.
        Etiam eu metus a augue semper fermentum eget sed nulla.
        In tristique, neque vel lobortis pellentesque, lorem odio porta risus, id dapibus neque nunc eget velit.
        Sed metus odio, hendrerit faucibus gravida in, rutrum nec est.
        Nam fringilla in ligula id condimentum. Suspendisse sagittis aliquam ultrices.
        Quisque quis maximus augue, ac vulputate quam. Vivamus auctor est in elementum porta.
        In tempus diam felis, quis imperdiet neque bibendum nec. Suspendisse vehicula non neque sit amet sagittis.   
    </div>
  </a>
</div>