.menu__title__container > hr {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.menu__title__text{
  display: flex;
  justify-content: center;
  font-size: 10rem;
  font-weight: 700;
  font-family: Roboto;
}