<div *ngFor="let post of posts; let index" class="container">
<div class="container__small__card">
  <div class="small__card__picture">
    <img 
      src={{post.image}} 
      alt="Picture from Post {{post.title}}"
      class="small__card__picture__img"
    >
  </div>
  <div>
      <div class="small__card__title">
        <a [href]="'#'">
          <h2 class="small__card__title__text">{{ post.title }}</h2>
        </a>
      </div>
      <div class="small__card__description">
        <a href="#">
        <p class="small__card__description__text">
          {{ post.description.slice(0, 160)}}
          <a href="#">...leia mais</a>
        </p>
      </a>
      </div>
    </div>
  </div>
  <div class="container__small__card__separator">
    <hr />
  </div>
</div>
