.container__small__card {
  width: 48rem;
  height: 11.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* padding: 0rem; */
  margin-left: 0.5rem;
}

.small__card__description__text {
  margin-top: 1rem;
  color: white;
}

.small__card__description__text > a {
  color: gray;
  text-decoration: underline;
  font-style: italic;
}

.small__card__title__text {
  margin-top: 1rem;
}

.small__card__picture__img {
  width: 100%;
  min-width: 8rem;
  height: 8.3rem;
}

.small__card__picture {
  margin-right: 1rem;
}
